[2021-05-07 08:53] dai-shi opened #5 "Discussion: valtio-yjs binding"
Hi, nice work!
I'm the author of [valtio](https://github.com/pmndrs/valtio), and thinking to develop a library `valtio-yjs` (no repo yet), which binds those two worlds.
My plan is to use both public APIs, and create two-way bindings. After I spent a couple of hours, I noticed it's not that trivial. (And then got busy with other stuff.)
There might be something I can learn from your work and here's

[2021-05-07 18:09] YousefED commented on #5
Hi @dai-shi, excited to connect!

So I spend a bunch of hours trying to implement this in an as abstract way possible, but I'm running into a bit of an architectural issue.

While it was easy to add support for vue / mobx, adding support for other libraries with an "implicit observer" (as discussed on twitter https://twitter.com/YousefED/status/1390365307496189952). Is a bit more cumbersome. Let m

[2021-05-07 19:44] YousefED commented on #5
Update: I see valtio uses a concept of snapshots instead of "implicit observers", which is a bit different. On useSnapshot you create a copy of the entire state. I'm not sure that is ideal for Yjs / reactive-crdt, as it would require reading out all Yjs objects I think, which might have a performance impact. Open to suggestions!

[2021-05-07 22:24] dai-shi commented on #5
valtio's useSnapshot doesn't copy the entire object, but you get the idea correctly. valtio's state will be the entire copy of yjs objects (even if it's vanilla without react). I'm not familiar with yjs implementation, so not sure how it would impact the performance, but that would be only the way to bridge yjs and valtio. Apart from doubling the memory usage, I guess we could only copy things tha

[2021-05-07 22:34] dai-shi commented on #5
https://github.com/YousefED/reactive-crdt#motivation

This is exactly the same motivation of mine.

[2021-05-08 16:11] YousefED commented on #5
I think that approach is possible (valtio can read out all properties from a reactive-crdt `crdt` object). But it will be tricky to trigger the right state changes on the valtio "copy". It should be possible but I'm not sure it's the ideal solution. It's also a different model than I'm used to, so might be easier to explore in a call.

---

Fortunately, I think I've been able to bridge reactive-cr

[2021-05-08 23:35] dai-shi commented on #5
OK, now I started to understand what you are trying to do. You already have a base `reactive` feature and `vue` binding. So, the latter binding could be for `valtio`.

[code]

This is not correct. We don't `proxy` snapshots. For now, you can forget about `useSnapshot`, it's a wrapper hook for render optimization with `subscribe` and `snapshot`.

So, what we need to test is `subscribe` and `snapsho

[2021-05-09 06:53] YousefED commented on #5
Thanks. I understand you'd prefer `let value = valtioStore.property;`. This is also how I designed the regular `reactive-crdt` API to work. However, I'm not sure we can get that to work without modifying Valtio (and my knowledge of Valtio is running into limits here, I'm happy I was able to figure out the workaround).

For example, trying the following `proxy(crdt(doc));` won't work, as Valtio doe

[2021-05-09 09:28] dai-shi commented on #5
Okay, this conversation motivates me to work on valtio-yjs. I'm not sure how it goes, but having someone to discuss with is super nice.

[2021-05-09 09:50] YousefED commented on #5
Haha ok! I'd be happy to jump on a call, so we don't have to do duplicate work :) It should definitely be possible to bridge both libraries but I think it would be easier to figure out together.

[2021-05-10 14:24] dai-shi commented on #5
https://github.com/dai-shi/valtio-yjs/
So, here's my incomplete trial. I still need to have better understanding on yjs behavior to proceed.

[2021-05-15 13:28] getflourish opened #8 "Vue usage without TypeScript?"
This project looks awesome. I was reading about y.js and tried it with Vue which worked, but you seem to have taken it a lot further and almost make the whole magic "invisible".

I’ve tried the example for Vue, but can’t seem to get it to work. How do I need to set up the data without TypeScript?
[code]

I’ve tried:

[code]

But changing arbitrary keys on sharedData (like sharedData.vehicles) wasn

[2021-05-15 13:36] getflourish commented on #8
Full example:

[code]

[2021-05-16 06:43] #8 closed

[2021-05-16 06:44] YousefED commented on #8
Thanks for the kind words and reporting the bug @getflourish!

I've fixed it in #9 . I'll also deploy a new version

Looking forward to hearing about your dev experience with reactive-crdt :) Really hopes it simplifies yjs development!

[2021-05-16 07:34] getflourish commented on #8
@YousefED 🤯 Wow, I just updated the package and it worked right away. This is so exciting! This means that Vue data can be synced in realtime between clients: without changing the way components are authored. The implementation details are almost invisible. Fantastic work!

Sidenote: I found your `reactive` project a few days ago on the "Future of Coding" Slack. I looked into it, but didn’t get it

[2021-05-16 07:52] YousefED commented on #8
Yep, thanks!

Correct! Fun that you're also on FoC :) I should share reactive-crdt there as well!

Exciting. It's early days for the library, so you might run into edge cases every now and then. Feel free to reach out. I don't expect major performance impact until you'd have a huge number of shared objects.

Caveats are similar as for Yjs, most importantly, the way you use types have impact on whe

[2021-05-17 07:49] getflourish opened #10 "Y.observeTypeCreated is not a function"
I’ve been trying to move my test code to a CodeSandbox. The code works fine with Vite on my local machine, but somehow I see an error when I tried to replicate it on CodeSandbox. No idea what’s wrong and wether it is related to this repo…

https://codesandbox.io/s/mystifying-wood-5zf8z?file=/src/App.vue

<img width="1029" alt="image" src="https://user-images.githubusercontent.com/183989/118450838-

[2021-05-17 09:25] YousefED commented on #10
This is an issue I had as well with CodeSandbox. CodeSandbox doesn't pick up my custom Yjs build correctly (it's loaded [here](https://github.com/YousefED/reactive-crdt/blob/08aaa8a2bc5c1de753ee7fe43e06e82859eb2021/packages/reactive-crdt/package.json#L34).

It should be resolved when my change lands in yjs: https://github.com/yjs/yjs/pull/298

[2021-05-26 09:06] clibu opened #11 "Errors with Vue example"
I tried installing the Vue example with npm and it failed - I try not to use npm. Then did `yarn install` and all went well. However when I go `yarn run serve` I get:
[code]

I just wanted to have a quick play, so don't go to any trouble. I'm new to yjs and saw your post: https://discuss.yjs.dev/t/reactive-crdt-easy-to-use-api-to-use-yjs-and-build-collaborative-apps/507/7

I understand you are usi

[2021-05-26 09:28] clibu commented on #11
I've tried creating a new project with the https://github.com/YousefED/reactive-crdt#without-framework example and am running into problems with your reactive-crdt.js etc. files using `require()` but the example code uses es6 import's. I'm not using webpack, babel etc. and just running the example in Node.

[2021-05-27 16:55] YousefED commented on #11
Hi @clibu ! Nice to see you're looking into reactive-crdt. If you could share some example code, I can look into your issue!

[2021-05-27 23:33] clibu commented on #11
@YousefED If you try:
[code]
and see if it works for you.

[2021-06-08 10:32] YousefED commented on #11
Hi @clibu ,

Do you have the same issue with npm instead of yarn? For me it works with NPM

(I'm running into another compatibility issue with Vue though, which I'm solving separately)

[2021-06-11 10:18] kappa90 opened #13 "Installation fails"
Hi, trying to install the library, I get a dependency failure due to an apparent incompatibility with yjs

[code]

[2021-06-13 18:03] YousefED commented on #13
Hi!

Thanks for reporting, two questions:
- what nodejs / npm versions are you using, and which OS?
- Do you have a different dependency on yjs in your project?

[2021-06-28 19:39] marsch commented on #13
actually i do experience issues as well, why are you using the patched version of `yjs`? is there a reason for this?

[2021-07-09 15:38] YousefED commented on #13
@marsch yes, this is described here: https://github.com/yjs/yjs/pull/298. I hope this gets merged soon to make using reactive-crdt more straightforward

[2021-07-13 02:42] rhaenni opened #14 "array is not boxed before yjs sync but returns as boxed after sync"
thanks for this library, been playing with it but stumbled upon an issue when trying to nest an array inside a top level map, when I set the array it appears to be not-boxed (e.g. I can get crdt.myarray.length) but as soon as it gets synced back again from yjs it returns as boxed (crdt.myarray.length doesnt work anymore and instead need to use crdt.myarray.value.length)

is this expected?

[2021-07-13 07:14] #14 closed

[2021-07-15 14:40] YousefED commented on #13
This should be solved in the latest version. We still depend on a yjs fork untill https://github.com/yjs/yjs/pull/298 is merged, but the installation issue should be resolved

[2021-07-15 14:40] #13 closed

[2021-07-15 14:43] YousefED commented on #10
@getflourish this is fixed if you upgrade to the latest version: https://codesandbox.io/s/red-morning-lshps?file=/src/App.vue

[2021-07-15 14:43] #10 closed

[2021-07-15 14:43] YousefED commented on #11
@clibu I expect this is resolved in the latest version

[2021-07-15 14:43] #11 closed

[2021-07-28 06:32] rhaenni opened #16 ""Cannot read property 'forEach' of null" when trying to set property to object returned by reactive-crdt previously"
The vue todo example included in this repo has this problem when testing the "Clear Completed" functionality. It filters the todo's array by completed todo objects and then tries to set the todos array to the filtered array leading to this error `TypeError: Cannot read property 'forEach' of null`

simplified code to reproduce:
[code]

stack trace
[code]

tried to debug and found that the object pr

[2021-07-28 09:11] dai-shi commented on #5
Hi, I made a good progress on valtio-yjs (published as v0.1.0), and want to share it.

Here's how it can be used.
[code]

[2021-07-30 06:19] rhaenni commented on #16
this error happens because yjs does not allow moving already inserted types, see https://github.com/yjs/docs/blob/main/getting-started/working-with-shared-types.md#caveats

implemented a workaround for reactive-crdt to unwrap the existing type before reinserting it into a new location, unsure about the implications. code can be found here https://github.com/rhaenni/reactive-crdt/commit/243f9ed310d

[2021-09-07 09:04] YousefED commented on #16
@rhaenni Thanks for reporting this, seems like a bug indeed. Although your workaround is quite clever, I think it will have some unintended consequences. Let's say:

- Alice (offline) changes the title of an item X
- Bob (offline) calls `todos = todos.filter(todo => true)`
- Bob and Alice sync
- The changes of Alice won't be reflected, as Bob has cloned his original data.

In other words, the `sto

[2021-09-07 12:40] rhaenni commented on #16
Agreed, the workaround will lead to conflicts and raising an error is much better.

Should reactive-crdt support all native JS array/object features as much as possible? Personally I would prefer it it would, where not possible it should be documented.

It might make sense to raise a better error in this specific move case as the error message from Yjs is cryptic and does not give much information

[2021-09-07 13:14] YousefED commented on #16
Yes, we should implement all array methods. Of course, the issue we're running into is that there is no native JS `.filterItems` (or it's inverse; `deleteWhere`) which filters items in place, so it's split into two operations (filtering and assignment) which make it more difficult to detect. I'm not sure yet what the best design for this use-case would be.

Agree, we should detect do a parent chec

[2021-09-11 08:41] rhaenni commented on #16
My only use case so far is the vue todo example although long-term my use case would be a `fireyjs`, so others may have more experience insights to share :) I love that reactive-crdt just uses native JS data types and maps them to yjs, hence I would not be looking for `Array.move` or other non native JS functions, it's also very usable already albeit lacking many native JS array/object functions (

[2021-10-05 16:11] YousefED opened #18 "Improve documentation and distinction between libraries"
We need clearer examples / introduction of the relation between reactive-crdt, yjs-reactive-bindings and reactive work. And / or maybe rename this package

[2021-10-17 17:07] canadaduane opened #20 "Consider Svelte?"
Has anyone looked at Svelte integration? It seems like a natural fit. I wrote https://svelt-yjs.dev/ which is also an attempt at making yjs easier to use for Svelte, but I like this approach better.

[2021-10-31 17:41] #16 closed

[2021-11-11 21:11] YousefED commented on #18
closed by #23

[2021-11-11 21:11] #18 closed

[2021-11-12 22:22] YousefED commented on #20
Svelte support has just been added in #25. Still needs to be added to the documentation website, but for now I'm closing this

[2021-11-12 22:22] #20 closed

[2021-11-12 22:23] YousefED commented on #20
@canadaduane looking forward to your feedback!

[2021-11-12 22:24] YousefED commented on #5
I'm closing this for now (valtio-yjs is available as an alternative. If there's more interest in valtio for SyncedStore, we can reconsider).

[2021-11-12 22:24] #5 closed

[2021-11-12 22:29] canadaduane commented on #20
Very cool! I'll try to take a look soon. Exciting!

[2021-11-21 15:00] jasonm opened #26 "Required version of node/npm for examples"
Thanks for sharing SyncedStore! I'm digging in and starting by playing with the examples.

It looks like the package.json for the todo-react example works with npm 6.14.13 but not npm 8.1.4 (latest stable). Not sure exactly what version started the issue but the message is:

[code]

Gist of a shell session trying it out:
https://gist.github.com/jasonm/33e2d7a7501d3c4f6a8f7df150ed34ec

This seems t

[2021-11-22 18:44] #26 closed

[2021-11-22 18:44] YousefED commented on #26
Thanks for reporting! Should be fixed

[2021-11-24 00:05] milesingrams opened #29 "How to initialize value or use existing Yjs doc stored in server"
First off, this is an amazing project and I'm incredibly impressed with how wide a range of reactive bindings and library integrations you were able to provide. Thank you for your work on this!

If it is important to the solution, I am using the Vue3 bindings.

The problem I'm running into is being able to initialize a document using a value stored in the server. When i try to provide a document w

[2021-11-24 00:11] milesingrams commented on #29
I found this thread which you participated in: https://discuss.yjs.dev/t/initial-offline-value-of-a-shared-document/465/4
Sounds like you have solved this before! I still don't quite understand the best way to solve this even after reading the thread.

[2021-11-26 12:48] YousefED commented on #29
Hi @milesingrams !

Great question, and I had to wrap my head around this topic as well as you can see in that thread.

The gist is this:

_You should initialize the document / store, right after you consider the object "created". There probably is a moment where a user presses "Create List", where you want to create a new `listID`, this is the moment where you can also initialize the document._

[2021-11-26 21:16] milesingrams commented on #29
Hi Yousef,
Thanks for the detailed response! I definitely follow why you need one source of truth for the Yjs object and therefore it must be created when the list is created.
I gave it a try and am running into an interesting issue related to serializing the entire document that I will also crosspost to YJS since I'm guessing it's from their end.

My plan is as such:
1. Create new list and Yjs do

[2021-11-27 04:09] jasonm opened #30 "What do you think about awareness?"
(Please let me know if there's a better place for discussions like this. Do you prefer e.g. https://discuss.yjs.dev?)

I'm curious how you think about exposing awareness through SyncedStore.

A caveat — as I'm fairly new to Yjs, the answer here may very well be "don't use awareness like that." 😄

In [this `discuss.yjs.dev` thread about Yjs Redux bindings](https://discuss.yjs.dev/t/yjs-redux-bindin

[2021-11-28 11:27] YousefED commented on #30
I'm keeping my reply focused on Awareness (if you want to discuss Redux we can do it in a different issue or on discuss.yjs.dev)

Afaik, Awareness in yjs is really only used to broadcast information to connected peers while they are online. It is not meant / suitable for "storing" data. So this works well for cursors, presence, mouse positions, etc.

User identity state should be handled separatel

[2021-11-28 11:27] #30 closed

[2021-11-28 11:33] YousefED commented on #29
Hi @milesingrams .

First of all, in your example, indeed it surprises me that `deserialized1` is empty. Could you maybe share a CodeSandbox where you can reproduce the issue?

You might want to make sure to atomically apply the document state as an update to the state currently in the database. This should cover the following scenario, but make sure to test it:

User A: makes a change and syncs i

[2021-12-03 18:54] milesingrams commented on #29
Hi Yousef, Thank you so much for the thorough response! I used your suggestions and found a way to get the toJSON to work by calling it on the 'value' map instead of the root doc. Overall SyncedStore is now working great for me!

[2021-12-06 10:01] YousefED commented on #29
Happy to help! Keep me posted of your progress, great to learn how people are using the library

[2021-12-06 10:01] #29 closed

[2021-12-06 16:43] jasonm opened #31 "Error with null/undefined values?"
Hello!

I'm running into an error with null or undefined values inside a SyncedStore using `@syncedstore/core@0.3.4`:

[code]

My particular use-case is inserting a modest JSON document from an API response into a boxed value, and that response happens to have some `undefined` values in it. Something like this:

[code]

I don't see boxing directly related in the traceback, but I'm mentioning it in

[2021-12-06 17:59] YousefED commented on #31
Hi @jasonm ,

Using undefined / null values should work, especially in boxed values.

The example "repro case" doesn't contain any boxed values, so I doubt it's a good reproduction. I'd love to look alongside with you to see what the issue is. Would it be possible to create a codesandbox where you can reproduce the issue?

Click the box icon in the bottom right to open the corresponding Codesandbo

[2021-12-09 00:04] jasonm commented on #31
Thanks @YousefED !

Here's a fork of that sandbox (very cool to have such an easy for-for-repro workflow here, also sandpack looks really cool, gotta dig into that, I digress)

https://codesandbox.io/s/sandpack-project-forked-ot8de?file=/App.tsx

So I (1) updated the type of Todo to include `description: string | undefined` and (2) updated the `onKeyPress` handler to to provide a description into

[2021-12-09 16:54] armincerf opened #33 "Is there a way to replace a store with a known good value?"
Hi, apologies if this question is answered elsewhere, I looked through all the docs and other issues and couldn't see anything though.

I have a simple chat app, and I would like to use this library to get instant updates. However, I also want each message to be persisted in my database, and when data is fetched from that db I want to replace the syncedstore with that new data.

So really I just w

[2021-12-12 05:40] hangtwenty opened #34 "Can I use SyncedStore solely between tabs in one browser? (No signaling servers)"
It seems like it's possible to use SyncedStore in multiple tabs in a browser, just locally. Just BroadcastChannel and `y-indexeddb`, no signaling servers, and I don't _think_ it would need any WebRTC activity.

I can share some code I've tried but first I just wanted to ask the question... Is there an official way to use it purely locally?

[2021-12-12 05:51] hangtwenty commented on #34
(I did try it and I couldn't get it working. So I'm wondering if there's just a known-good way, rather than the trial-and-error I've been doing.)

[2021-12-12 09:53] #31 closed

[2021-12-12 09:54] YousefED commented on #31
Thanks @jasonm! That sandbox definitely made it easier for me. I've fixed this in #35 and will release a new version later today

[2021-12-12 09:57] YousefED commented on #34
Hi @hangtwenty.

Broadcastchannel (cross tabs) and WebRTC syncing can both be managed using y-webrtc.

I think it should be possible to disable the webrtc part in y-webrtc, and use only the broadcastchannel. Could you try to pass an empty array as signaling servers? e.g.:

[code]

(see https://github.com/yjs/y-webrtc/blob/c059b8679e72e4a2cd59189b022a25edbd07cbeb/src/y-webrtc.js#L545)

[2021-12-12 10:25] YousefED commented on #33
Hi @armincerf!

While you can't replace an array / object on the root of the store, you can take one of the following approaches:

A) Replace array elements using splice
[code]

B) Store array in a nested object
[code]

** However, this (the answers above) is probably not what you want.**
Example of an issue you'd run into:
- When you overwrite `state.comments` with server side data on client A, t

[2021-12-12 11:39] armincerf commented on #33
Ok thank you that is good advice. I did try using splice but encountered a strange situation where my chat messages were duplicated. I was doing exactly what you suggested `state.comments.splice(0, state.comments.length, data.comments);`

Can try and put together a reproducible repo if you think that might be a bug.

I will look into using y-websocket but data from the server must be treated as a

[2021-12-12 11:56] YousefED commented on #33
Alright, I'll close this for now. Splice should work, feel free to open a separate issue (ideally with codesandbox link) if you still run into issues.

If you need some more general pointers, feel free to comment in this thread. I'd need to know a little bit more of the system you envision (e.g.: what do you want to use SyncedStore for vs what scenarios should your backend support).

Note that the

[2021-12-12 11:56] #33 closed

[2021-12-12 13:57] armincerf commented on #33
ok here's a codesandbox that can reproduce some of my issues https://codesandbox.io/s/adoring-smoke-qzop9?file=/src/App.tsx

if you try opening it in two tabs and refreshing the first one, you'll see that 'foo' is duplicated. Also, I couldn't get the server data change test to work at all since I get `Not supported: reassigning object that already occurs in the tree.`...

Not sure what's going on

[2021-12-13 10:02] YousefED commented on #33
Thanks for providing the sandbox.

I've played around with it, and using a root array indeed has the issue that you don't know whether all data has been "loaded" when you delete the items using splice. So when you load the app, and call `splice` the array might be empty, because it hasn't been loaded yet. `splice` then doesn't delete all items (as length will be 0). As there's no eventually consis

[2021-12-14 18:47] hangtwenty commented on #34
@YousefED I tried something similar:

[code]

From the `y-webrtc` README it seemed like this part is needed to fully disable WebRTC connections:

[code]

But I was experiencing inconsistent behavior and some errors.

I'll try another troubleshooting session tonight, and report back.

[2021-12-15 05:41] hangtwenty commented on #34
I can't reproduce the issue now, for some reason. But it's working, so that's great!

[2021-12-15 05:41] #34 closed

[2021-12-16 09:05] YousefED commented on #34
Glad to hear!

[2021-12-19 04:11] hangtwenty opened #36 "hocuspocus.dev usage example"
Do you know of a usage example of using SyncedStore with hocuspocus.dev as the server?

[2021-12-21 14:17] YousefED commented on #36
Hi and welcome @hangtwenty !

This should be similar to how other providers work, as described at https://syncedstore.org/docs/sync-providers.

I haven't tried this yet, but when setting up the store, try this:

[code]

Feel free to reopen if you have additional questions! Looking forward to hearing your experience with syncedstore :)

[2021-12-21 14:17] #36 closed

[2021-12-21 16:26] vincent911001 opened #37 "Document Updates for Persistence"
Hi Yousef,

Good day,

Is it possible for you to give me some pointers around document updates in SyncedStore for persistence?

Currently, I am thinking of computing the the diff of _YDoc_ by getting the previous state before editing and current state after editing. The diff will then be persisted to database for future retrieval.

[code]

However, the diff have to happen in every functions that a

[2021-12-27 05:57] YousefED commented on #37
Hi and welcome!

The way to go is indeed to register an update listener, and persist those updates to a database (perhaps batched, depending on how often updates happen). This thread can help you to determine whether an update was local or not: https://discuss.yjs.dev/t/determining-whether-a-transaction-is-local/361.

However, I'd recommend registering a sync provider that's specialized in persist

[2021-12-27 05:57] #37 closed

[2022-01-02 13:30] deelobase opened #38 "Deploy your app for free 🚀"
Hey @YousefED, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https://dee

[2022-01-02 13:38] ilya2204 opened #39 "Angular support"
Hi, you have a very impressive library. Are you planning to add Angular support?

[2022-01-02 16:00] YousefED commented on #39
Hi @ilya2204. At this moment I'm not planning to actively support Angular. However, as SyncedStore also works with plain javascript, I'm sure it should be fairly trivial to make it work for Angular. Happy to take PRs for any examples or improvements!

[2022-01-02 16:00] #39 closed

[2022-01-15 17:36] vincent911001 opened #41 "Create Multiple Stores Dynamically"
Hi,

How can we instantiate multiple SyncedStore for multiple To Do list instead of creating one Global store?

Thanks,
Vincent

[2022-01-16 07:29] YousefED commented on #41
Hi @vincent911001 ,

You can just instantiate multiple stores, e.g.:

`
const store1 = syncedStore({ todos: [] as Todo[] });
const store2 = syncedStore({ todos: [] as Todo[] });
`

Make sure to register a sync provider (e.g.: WebRtcProvider) for both of them

Of course, you can also register two todos arrays on a single store. The benefit of using multiple store is that data is synced per store, s

[2022-01-16 07:29] #41 closed

[2022-01-16 10:21] vincent911001 commented on #41
Thanks @YousefED.

I am using zustand store to keep them globally.

[2022-01-19 04:29] jasonm opened #42 "Observe changes to object in array"
Hello! I am using SyncedStore in a React application and have come across an issue that I cannot figure out.

### Context

It appears that if I have an array of objects in a store, and I change a property of one object, then a component whose render depends on that object does not get updated.

The state data looks like this:

[code]

### Repro CSB and video

I have made a minimal repro as a fork

[2022-01-19 06:39] YousefED commented on #42
Wow @jasonm! I am actually out the rest of the week, but your issue was so well-documented I definitely _had_ to take a look. Really appreciate it.

So for now just a quick response:

It seems that using `const todos = useSyncedStore(section.todos);` on line 10 fixes your problem. I realize this is undocumented and I also didn't omitting this would break your app, so I'll still have to dive deeper

[2022-01-19 14:23] jasonm commented on #42
Thanks @YousefED! Haha, please go enjoy your time off. I'll look into adding the additional useSyncedStore call in my application.

[2022-01-20 08:06] ChasLui opened #43 "rxjs bingding"
Thanks to SyncedStore for the results.
Are there any plans to bundle SyncStore with rxjs?

[2022-01-20 09:32] echarles commented on #43
I asked myself the same question a few days ago, and maybe a way to connect with rxjs is enabling the mobx integration (https://syncedstore.org/docs/advanced/mobx) and then using the mobx-utils toStream https://github.com/mobxjs/mobx-utils#tostream

This sound more like theory and I am interested to see it for real.

[2022-01-20 09:35] echarles opened #44 "Where is @theme-init/CodeBlock?"
While looking at the source code and trying out building the doc site, I came to the custom sandbox preview (with the double renders to mimic collaborators) which depends on `@theme-init/CodeBlock`.

https://github.com/YousefED/SyncedStore/blob/e23a75ef0bf4b95bb012b4a5798854a5d3ef751c/docs/src/theme/CodeBlock/index.tsx#L10

Is that package available somewhere?

[2022-01-23 19:20] echarles opened #46 "Local sync?"
Is it possible to use `SyncedStore` without one of the Y.js providers ?

- https://docs.yjs.dev/ecosystem/connection-provider
- https://docs.yjs.dev/ecosystem/connection-provider

I wonder if `SyncedStore` could be used like any other state library (redux, mobx...) and only upgrade/configure it once you really need collaboration?

[2022-01-23 20:13] YousefED commented on #46
Hi Eric!

Can you specify more what functionality you’re looking for exactly (what’s
the functionality you’d like to “keep”?).

It should be possible to use syncedstore, and just not connect any sync
provider.

Alternatively, perhaps the Reactive library could provide what you’re
looking for?

https://github.com/YousefED/reactive

On Sun, 23 Jan 2022 at 20:20, Eric Charles ***@***.***> wrote:

[2022-01-24 06:41] echarles commented on #46
the functionality you’d like to “keep”?).

Just a local sync without depending on a y.js provider (so no webrtc, no websocket, no indexdb...).
I guess it should be possible to go throught the Y.Doc in memory and just update the store via that local Y.Doc.

Yes, but for non-syncing appliation, using a sync provider could not be mandatory.
I have looked for a "in-memory" sync provider, but did not f

[2022-01-24 13:33] YousefED commented on #46
A sync provider is not mandatory for SyncedStore, just like it's not mandatory for Yjs. If you just create a Y.Doc, everything will work in memory. Only if you want to persist data or enable collaboration, you'll need a sync provider.

Hope this makes sense! I'll close this issue for now, but feel free to reply with additional questions

[2022-01-24 13:33] #46 closed

[2022-01-24 13:34] YousefED commented on #44
This is a docusaurus feature. See https://docusaurus.io/docs/using-themes#for-plugin-authors

[2022-01-24 13:34] #44 closed

[2022-01-24 13:47] echarles commented on #46
Makes sense! Thx @YousefED

[2022-01-24 13:47] echarles commented on #44
Docusaurus is awesome!

[2022-01-24 14:47] YousefED commented on #43
This would be interesting indeed! The way @echarles mentions probably works.

If there's more interest for this, I'll look into adding direct support for rxjs to SyncedStore. I'll keep this issue open to gauge interest!

[2022-01-27 12:12] tslocke opened #47 "How are IDs handled?"
This looks like a great project - I'm looking at using it for a collaborative app I'm working on.

My model has deeply nested structures, but in the client side store and in the database these are flattened out using unique IDs. If an object contains nested objects, I store IDs instead. In the store everything becomes top level.

It seems like this approach would work well with SyncedStore, but I'

[2022-01-27 14:01] YousefED commented on #47
Thanks @tslocke!

Because SyncedStore applications are designed to be distributed, and not _necessarily_ need a central server, I think UUIDs are the best approach tbh.

However, if you have a central server, what you could do is create a Yjs / SyncedStore provider that communicates with your server. The server can then apply updates to the document (replace the tempids) and sync back those update

[2022-01-27 14:01] #47 closed

[2022-01-27 19:05] tslocke commented on #47
Thanks very much for the advice. Your solution to have the server manipulate the document directly and rely on SyncedStore to get those changes back to clients sounds very nice. Does it mean the server must maintain an in-memory copy of the state of every connected client? Or is there a way to just temporarily hold certain documents in memory, make edits, have those synced back to the client, save

[2022-01-27 21:37] YousefED commented on #47
Exactly, a server implementation could only hold the documents in memory that are being editted (e.g.: an active user is "connected" via websockets, or it could flush the document to the database if no changes have been made for x seconds).

This is the key. You typically divide state into documents / stores. For example, one document / store can represent a game, a todo list, a spreadsheet, a wor

[2022-01-28 11:11] tslocke commented on #47
That's a kind offer which I really appreciate. The CRDT world is such a different way of thinking about things, it's not so easy to get started.

A simple way to describe the app is a kind of notes app with wiki-links, but one important feature is the ability to support very large pages, where you can "zoom in" on any sub-section. The page structure is a hierarchy of blocks, and all communication

[2022-01-31 20:39] gustavotoyota opened #50 ""observe" doesn't work immediately after filling SyncedMap"
Hi, I stumbled on this problem that seems very simple, but I can't find info about the solution in the docs of either Yjs or SyncedStore.

"observe" doesn't work immediately after filling SyncedMap:
[code]

"observe" works after sufficient delay:
[code]

There seems to be a delay after which I'm able to use observe.
So I'm wondering: is there a hook in which I can initialize my observes?

Thanks

[2022-01-31 23:30] gustavotoyota commented on #50
Ok, I think I got it.

I was using some of those Sync Providers, and I think what's happening is that they are kinda initialized asynchronously and when they load they overwrite things in the shared object, which makes me lose the observes I've set before.

Can someone confirm that's more or less how it works?

[2022-02-01 05:07] YousefED commented on #50
Hi @gustavotoyota !

What's probably happening is that the SyncProvider gets incoming data, and that incoming data replaces the old `store.obj.array`, so that array doesn't exist anymore. You can probably detect this by observing `obj` as well.

However, SyncedStore makes this easier because you don't need to use `observe` (which is a Yjs function) at all. If you're using Vue, you can directly use

[2022-02-01 05:07] #50 closed

[2022-02-09 10:44] sam585456525 opened #53 "Feat: add Vue 3 composition api usage"
Hi,thanks for this useful project. I found that there is only old option api usage in Vue example. Because Vue 3 has the powerful composition api just look like react hook, maybe it's a good idea to add composition features for Vue's users. If you agree with this proposal, I'd be glad to open a pr for it;)

[2022-02-10 05:26] YousefED commented on #53
Hi @sam585456525 , welcome!

SyncedStore should work fine with the composition API, as it builds around Vue's reactivity feature.

Any PRs to clarify this in the documentation is definitely appreciated!

[2022-02-12 02:51] #53 closed

[2022-02-14 11:43] tslocke commented on #47
@YousefED any comments on this question?

[2022-02-28 03:30] pureliumy opened #54 "IOS and Android implementations"
Will consider to implement SyncedStore to other platforms like IOS and Android?

[2022-02-28 08:19] YousefED commented on #54
Hi @pureliumy,

At this moment this is not on the roadmap. Although SyncedStore might work with React Native (haven't confirmed this).

When usage of SyncedStore increases we'll look into mobile platforms!

[2022-02-28 08:19] #54 closed

[2022-04-02 04:04] josephdangerstewart opened #55 "Example react app appears to be broken across browser windows"
Hello! I was investigating using yjs in a react project, and started designing my own abstraction when I came across this project. It looks really cool although I haven't been able to get state to sync across two browser windows. Oddly enough, the state syncs when I have my app open in two tabs in the same browser window. I haven't pushed my code anywhere as I'm still playing around with different

[2022-04-02 05:07] josephdangerstewart commented on #55
Actually, I think this may be an issue with yjs (possibly with it's public signaling server?). I made an example with vanilla yjs and it still doesn't work, although if I initially connect in a new tab and drag that tab into a new window it does work

[2022-04-02 05:07] #55 closed

[2022-04-20 14:02] jonassiewertsen opened #56 "SyncedText is not a valid synced object"
`SyncedText` does throw an exception as show in the example below:

I would except that SyncedText is a valid synced object.

[code]

I did create a codesandbox example, so it can be reproduced easily:
https://codesandbox.io/s/syncedstore-syncedtext-issue-kpomzt?file=/src/index.js:0-386

This part has been taken from the docs:
https://syncedstore.org/docs/advanced/text#syncedtext-objects

[2022-04-20 18:30] #56 closed

[2022-04-20 18:43] YousefED commented on #56
Thanks, this was a bug indeed, fixed in the latest release!

[2022-04-21 11:28] Toubat opened #58 "Text.insert is not a function"
I create a sandbox:
https://codesandbox.io/s/sandpack-project-forked-4p6tep?file=/src/App.vue

On the screen, click on "Insert" button, an error will raise that says "this.store.myText.text.insert is not a function". I have no idea what I did wrong.

[2022-04-21 11:34] Toubat opened #59 "Array indexing"
It seems like array assignment by index is not supported currently. For example, if I have a store
[code]
Then I type:
[code]
It gives me an error says array assignment is not supported. Is there any other way I can do to accomplish equivalent operation?

[2022-04-29 10:46] ofabel commented on #59
Change your array of numbers to an array of objects with one single attribute. Then modify that attribute.

[code]

[2022-04-29 20:34] Toubat commented on #59
That's really helpful! Thank you for the detailed explanation!

[2022-05-04 19:26] aubergene opened #61 "Svelte demo - too much recursion"
When I look at the Svelte demo in the docs https://syncedstore.org/docs/svelte/

The two boxes go red when I mouse over them and I see the error "too much recursion" in both boxes.

[2022-05-04 19:31] aubergene commented on #61
Hmm, sorry further inspection it was only a problem in Firefox, and there was a pending Firefox update which when I installed it was working again. Sorry for false report! Keep up the great work thanks!

[2022-05-04 19:31] #61 closed

[2022-05-14 10:13] tomaszferens opened #62 "How to use with mobx class stores?"
Is it allowed to pass mobx store instance into `syncedStore` fn? My store has a bunch of methods and I am worried this will not work. In this case, how should I integrate with mobx? Separate actions/getters somehow?

Example store:
[code]

Thanks!

[2022-05-15 18:14] YousefED commented on #62
Hi @tomaszferens !

You could make todos a MobX Computed that returns the right property from the SyncedStore store.

i.e.:

[code]

That should bridge both stores and work all fine!

[2022-05-15 18:14] #62 closed

[2022-05-18 14:18] UXDart opened #63 "only refresh when there is a change"
Hello! if I have the sample todo list, and I do a "todo.completed = false;" always false
if the value is already false, it triggers a change in the store.. and the page refreshes. is it possible to trigger a change only if the set value is different from the current one? of course, I can check if completed is false, but would like a way to do this automatically if possible. Thanks!

[2022-05-18 15:30] UXDart opened #64 "set whole object on useSyncedStore"
hi! if I have "const params = useSyncedStore(store.data.params)" and I have a store that has { data: { params: {} } as ISomeInterface }
imagine I want to set params to a new object, I can't do params = newParams;. I need to do useSyncedStore(store.data) and then do data.params = newParams

the problem is that because I'm observing store.data, it will refresh on any update. if I observe store.data.

[2022-05-18 17:28] UXDart commented on #64
oh... can someone confirm this, if I do const storeData = useSyncedStore(store.data)  / it will trigger a refresh only where I'm using storeData.abc... then only if abc changes it will trigger the refresh? it is smart the way it refreshes? thanks

[2022-05-18 17:41] #64 closed

[2022-05-18 18:34] YousefED commented on #64
That's correct! Also see https://syncedstore.org/docs/react#usesyncedstore-hook

[2022-05-23 05:39] YousefED commented on #63
Hi! This should already be happening. Do you have a codesandbox link with an example?

[2022-05-23 10:13] UXDart commented on #63
yes, check this one https://codesandbox.io/s/sandpack-project-forked-do2rj7?file=/App.tsx
completed is always set to false / click many times on the unchecked checkbox, and in the console you will see the refreshss line in the console. TIA

[2022-05-28 13:51] UXDart opened #65 "Array is missing includes and some()"
title ^^ TIA

[2022-05-31 08:20] skomlaebri opened #66 "Yjs transact"
Hi,

is there a way in SyncedStore to do doc transact as in Yjs, to reduce the number of update calls?

[2022-06-18 03:03] gustavotoyota commented on #66
Pretty simple:
[code]

[2022-06-18 05:42] skomlaebri commented on #66
Thanks,  that what I ended up doing, I was curious to know if there was a way to avoid the conversion and not having to handle everything with the yjs Syntax.

[2022-06-23 14:29] uinz opened #67 "`unshift` not wroks"
`Array.unshift` and `YArray.unshift` receive different parameter types

`YArray.unshift` recive an array parameter

https://codesandbox.io/s/happy-curie-678u8p?file=/src/index.ts

[2022-06-30 15:24] gustavotoyota commented on #67
Just stumbled on the same problem here.

[2022-07-19 08:55] dl8sd11 opened #68 "Circular dependencies"
After running `npm build`, it seems like some instances and functions are duplicated.

For example, there are two INTERNAL_SYMBOL in `packages\core\dist\syncedstore.js`

[code]

[2022-08-02 09:19] YousefED commented on #66
At this moment there's no build in SyncedStore transactions, but the proposed method should work well!

[2022-08-02 09:19] #66 closed

[2022-08-02 09:20] YousefED commented on #68
I can't reproduce this issue, let me know if you're still running into this after updating your repo

[2022-08-02 09:20] #68 closed, assigned to nobody

[2022-08-02 09:31] #65 closed

[2022-08-02 09:31] #67 closed

[2022-08-02 09:34] YousefED commented on #58
I think you only get this error when manually editing the input text, which is also bound to the text:

`<input v-model="store.myText.text" />`

Currently, we don't support two-way binding to Text models on inputs directly. Removing this binding should fix it

[2022-08-02 09:34] #58 closed

[2022-08-17 05:22] kjohnsen opened #71 "svelteSyncedStore not synced across tabs"
Maybe I'm missing something, but I tried to follow the examples and it's just not working. I tried a brand new Svelte kit app, installed dependencies, and set up a bare bones store
[code]

Then just `src/routes/+page.svelte` and `src/lib/stores.js` as follows:
[code]

[code]

The store is not kept up to date between tabs:
![image](https://user-images.githubusercontent.com/19983357/185040937-30d5b6

[2022-08-20 20:08] ericwooley opened #72 "Documentation on creating your own provider"
This looks fantastic, but I'm interested in creating my own provider, EG hasura or supabase.

Is there any guide to implementing your own provider? If so I would love to contribute by creating some open source ones.

[2022-08-25 17:41] gleachkr opened #73 "Example from documentation doesn't typecheck"
The minimal example from the documentation:

[code]

Doesn't typecheck on line 12, because `Argument of type 'Doc | AbstractType<any> | undefined' is not assignable to parameter of type 'Doc'. Type 'undefined' is not assignable to type 'Doc'.`

Would it help to change it to:

[code]

?

[2022-09-02 06:57] YousefED commented on #72
Hi @ericwooley!

At this moment, SyncedStore is pretty focused on yjs as backend. I hadn't thought of connecting a different backend to the same programming paradigm, but that's definitely interesting. There's no guide to this yet, but if you want to give it a go, you probably need to create your own versions of the object / array / doc files in https://github.com/YousefED/SyncedStore/tree/main/pa

[2022-09-02 07:00] YousefED commented on #73
Thanks. Did a quick fix in https://github.com/YousefED/SyncedStore/commit/ab2155f2322d9a7a8045ccba25ec6de3b65b576d (you can simply cast with `as any`), but will add a `getYjsDoc` value later that works only on Docs and returns the correct type :)

[2022-09-02 17:57] gleachkr commented on #73
Awesome. Thanks for this project!

[2022-09-02 18:04] gleachkr commented on #71
Is it possible that you need a [sync provider](https://syncedstore.org/docs/sync-providers) here? The minimal svelte example uses the WebRTC provider, this bit:

[code]
from this example in the docs:

[code]

[2022-09-06 16:59] ericwooley commented on #72
Thanks @YousefED

After having researched this a bit more, I think what I actually would need to do is create a yjs provider, which is less to do with this project and more with yjs.

Thanks for the response!

[2022-09-06 16:59] #72 closed

[2022-09-23 10:51] valstu commented on #42
@jasonm did you ever figure this out?

[2022-09-23 19:03] jasonm commented on #42
Hey @valstu, I haven't revisited this particular issue or used SyncedStore lately. My best recollection is that following @YousefED's recommendation did help. There have been many releases since then so it may be fixed without that extra line, but I'm not sure. It appears to still be necessary in the linked codesandbox from this issue's description, and the package.json in that CSB uses the `lates

[2022-09-24 00:32] csbenjamin opened #74 "Support binary data"
I have been using yjs for some time now. And I usually store binary data in my yjs documents using Uint8Array objects. I wonder if you could add the option to store Uint8Array objects without using the boxed function.

[2022-09-24 00:43] csbenjamin commented on #74
I actually thought I could use boxed to store Uint8Array, but apparently I can't.

[2022-09-24 20:09] valstu commented on #42
After reading a bit more YJS documentation I think it could be related to fact that YJS doesn't subscribe to subdocuments automatically. And according to @syncedstore docs if we have nested objects those will be "subdocuments". Didn't figure out yet how to subscribe to subdocs.

[2022-09-25 10:01] zzph opened #75 "Filter/query data store"
Hi there,

Firstly, this library is great.

Apologies if this is an obvious question- I’d like to filter the data before it’s sent to the store

For example, if I only wanted “completed” todos.

FWIW: I tired using “y-socket” to decode and then return filter but had no success. My thinking was to decode the entire store, then only send back specific data (or even indexes if a different data struct

[2022-10-07 20:08] pierscowburn opened #76 "Overwriting an array re-patches array methods, eventually resulting in stack overflow"
First let me say – thanks for an amazing library! It's been really useful for our project 🙌

I've tracked down an issue related to array usage within SyncedStore objects, which eventually results in stack overflow. Here's the shortest example I could create that demonstrates the issue:

[code]

Output:

[code]

In our application we run into this quite regularly during any periods of extended usag

[2022-10-10 11:44] robhicks opened #77 "sync multiple documents"
I'm investigating SyncedStore.

My use case is allowing users to select multiple documents (projects, i.e., JSON) they can edit. I want to each document synced separately using y-indexeddb (for now) and y-webrtc (goal).

My current approach is to create the store:
[code]
And then, when the user inputs the id of the document in a form, attempting the following:
[code]
Doing that creates a IndexedDB

[2022-10-11 16:31] cbenz commented on #73
For that problem I have created the `Y.Doc` before, like this:

[code]

[2022-10-11 20:56] websiddu opened #78 "Undo Redo Support"
Is there a way to do undo/redo using Synced Store?

[2022-10-11 22:56] robhicks commented on #42
Just ran into the same issue with Svelte. Makes it really hard to use.

[2022-10-13 18:44] YousefED commented on #78
Yes @websiddu ! You should be able to use the regular Yjs [undomanager](https://docs.yjs.dev/api/undo-manager), e.g.:

[code]

Does this answer your question?

[2022-10-13 18:44] #78 closed

[2022-10-13 18:47] YousefED commented on #75
Hi @zzph!

The way SyncedStore is designed, is that always the entire "store" is synced with others. This is the overall concept that SyncedStore wants to achieve; the ability to sync entire data stores in a "local first" way.

Depending on your use case, you can probably do what you want in a different way:
- Sync everything, but only show filtered data
- Maybe the data shouldn't be synced indeed

[2022-10-13 18:47] #75 closed

[2022-10-13 18:49] YousefED commented on #76
Thanks! This definitely looks like a bug and I'll dive into this.

Glad to here SyncedStore has been useful to your project, curious to hear what you're building!

[2022-10-17 06:38] songispm commented on #42
anything new?

[2022-10-21 22:28] douira opened #79 "The console is spammed with "property not found on root doc __v_isRef""
The warning `doc.ts:46 property not found on root doc __v_isRef` and similar warnings about other internal Vue properties are spammed on the console. In certain situations, it also prints properties that I'm working with myself as a warning. It would be good if this library could filter out these warnings for internal Vue properties as there doesn't seem to be a way around it. The Vue3 examples in

[2022-10-21 22:56] douira opened #80 "References kept to objects within the synced store become empty on their own"
An error occurs in the following reproduction sandbox (adapted from the one in the documentation for syncedstore and vue). There are two input fields, the first one uses the reactive object contained within the store for getting the model property. The second one uses the full reference path to the store. The first input field errors when it's touched by the user (the value changed) since the obje

[2022-10-28 12:44] #79 closed

[2022-10-28 12:57] #74 closed

[2022-10-28 12:58] YousefED commented on #74
Hi @csbenjamin ,

Thanks for reporting. This is actually possible, a test has been added here: https://github.com/YousefED/SyncedStore/pull/82

Hope this works for you!

[2022-10-28 13:23] YousefED commented on #74
My bad, it was a bug indeed, fixed in https://github.com/YousefED/SyncedStore/pull/83

[2022-10-28 13:49] #76 closed

[2022-10-28 13:49] YousefED commented on #76
Great find, this has been fixed now!

[2022-10-28 14:14] pierscowburn commented on #76
Great, thank you!

[2022-10-28 14:40] YousefED commented on #80
I tried reproducing it, but it worked fine in this sandbox:

https://codesandbox.io/s/sandpack-project-forked-tr1bjc?file=/src/store.ts

I've passed a clean roomname "vue-issue-debug" to `WebrtcProvider`, perhaps the data was syncing with another project that corrupted the store?

[2022-10-28 14:46] douira commented on #80
It appears that syncing is causing the problem for me. I've used a random clean roomname and the issue is happening. It only happens if there are actually two browser tabs open with the same roomname so that syncing does happen. Then entering any character into the input field results in `Cannot read properties of undefined (reading 'foo')`. If you'd like I can record a video of the exact reproduc

[2022-10-28 19:39] YousefED commented on #80
Got it. The issue here is that you store a local value using `const baz = store.documents.baz;`

However, when syncing across clients, store.documents can be overwritten by a sync. This means `baz` is no longer valid. You should therefor reference your object from `store` directly

[2022-10-28 19:39] #80 closed

[2022-10-28 20:27] douira commented on #80
I'll have to work with functions that access the properties or computed getters or sth then. Thanks for the clarification!

[2022-10-28 20:28] douira commented on #80
Maybe a hint about this behavior could be added to the documentation? It's not immediately obvious that the library behaves in this way since by default, reactive references in Vue don't suddenly become invalidated.

[2022-10-31 14:56] YousefED commented on #80
I think this would go wrong in native Vue as well to be honest. It might not give an error, but if you'd overwrite `store.documents.baz` from somewhere else, then the dereferenced "baz" should be outdated

[2022-10-31 14:59] douira commented on #80
You're right, that would break it too.

[2022-11-16 23:28] douira commented on #79
A follow up on this issue: Vue Devtools seems to be checking for properties on the store object through some mechanism and this generates hundreds of warnings in the console like this:
[code]

`backend.js` appears to be part of Vue Devtools. The other properties it warns abut include `render`, `__asyncLoader`, `__v_isReactive`, `effect`, `state`, `_`, `currentRoute`.

<img width="340" alt="Screens